.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px;
    background-color: #c7efc7; 
    border: 8px solid #238000;
    gap: 30px;
}

.row1 {
  	display: flex;
    flex: 2;
    gap: 20px;
    padding: 30px;
    background-color: #add8e6;
    border: 8px solid #2101fe;
}

    .r1-sides {
        flex: 1;
        background-color: #fcdab9;
        border: 8px solid #f78072;
    }

    .r1-center {
        display: flex;
        flex-direction: row;
        flex: 1;
        background-color: #fcdab9;
        border: 8px solid #f78072;
        padding: 10px;
    }

        .r1-contents {
            flex: 1;
            border: 8px solid #f40105;
            background-color: #fac0cb;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.row3 {
  	display: flex;
    flex: 2;
    gap: 20px;
    padding: 20px;
    background-color: #add8e6;
    border: 8px solid #2101fe;
}

    .r3-sides{
        flex: 3;
        background-color: #e2deff;
        border: 8px solid #6a5acd;
    }

    .r3-center  {
        flex: 2;
        background-color: #fcdab9;
        border: 8px solid #f78072;
        display: flex;
        align-items: center;
        justify-content: center;
    }


.row2 {
	display: flex;
    flex: 5;
	flex-direction: row;
    gap: 20px;
}

	.left {
		display: flex;
		flex-direction: column;
		flex: 3;
        background: #fabbbb;
        border: 8px solid #a94741;
	}

	.right {
		display: flex;
		flex-direction: column;
		flex: 3;
        gap: 20px;
	}

		.r2-rg-top, .r2-rg-bottom {
			flex: 1; 
			background: #fabbbb;
            border: 8px solid #a94741;
		}
